.text-center{
    text-align: center;
}


.mx-auto{
    margin: auto;

}

.flex{
    display: flex;
}
.flex-box{
    justify-content: space-between;
    
    flex-direction: column;
}
.items-center{
    align-items: center;
}